@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(212 212 216);
}

button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1.5rem;
  padding-right: 1.5rem; 
  border-radius: 0.25rem; 
  border-bottom-width: 4px; 
  border-color: #bdb4a5; 
  font-weight: 700; 
  color: #2C4C60; 
  background-color: #e8dcca;
  transition: 0.1s ease-out;
}

button:hover {
  border-bottom-width: 0px;
  filter: brightness(120%);
}