@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(212 212 216);
}

Button {
  /* padding-top: 1.5rem;
  padding-bottom: 1.5rem; 
  padding-left: 3rem;
  padding-right: 3rem; 
  border-radius: 0.5rem; 
  border-bottom-width: 8px;  */
  font-size: x-large;
  font-weight: 700;
  border-color: #bdb4a5; 
  color: #2C4C60; 
  background-color: #e8dcca;
  transition: 0.1s ease-out;
}

button:hover {
  border-bottom-width: 0px;
  filter: brightness(120%);
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text)
}